@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #6a2a02;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #6a2a02;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.home .blog-preview {
  margin: 20px 0;
  padding: 10px 16px;
  border-bottom: 1px solid #333;
}

.home .blog-preview:hover {
  box-shadow: 1px 3px 5px #6a2a02;
}

.home .blog-preview h2 {
  color: #6a2a02;
  margin-bottom: 8px;
  font-size: 30px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details {
  margin: 20px 0;
  padding: 10px 16px;
  border-bottom: 1px solid #333;
}

.blog-details:hover {
  box-shadow: 1px 3px 5px #6a2a02;
}

.blog-details h2 {
  color: #6a2a02;
  margin-bottom: 8px;
  font-size: 30px;
}

.blog-details p {
  margin: 20px;
}

.blog-details button {
  display: block;
  margin: 8px auto;
  border-radius: 10px;
  cursor: pointer; 
}

.create form {
  width: 100%;
}

.create label {
  margin-bottom: 10px;
  width: 100%;
  margin: 10px;
  display: block;
}

.create input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 8px;
}

.create button {
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}